@model Uaeglp.ViewModels.AssessmentViewModels.ReportConsolidateReportOverallView
@using  Uaeglp.ViewModels.Enums;
@{
    Layout = null;
    var ImageSrc = string.IsNullOrEmpty(Model.Profile.ImageSrc.ImgeIDEncrypted) ? "/Assets/Images/user-icon.png" : "/File/GetByEncryptedId?IdEncyrpted=" + Model.Profile.ImageSrc.ImgeIDEncrypted + "";
}

<html>
<head>
    <meta charset="utf-8">

    <style>
        @@font-face {
            font-family: DroidArabicKufi;
            src: url(../../Assets/fonts/DroidKufi-Regular.ttf);
        }

        .breakhere {
            page-break-after: always;
            background-color: blueviolet;
        }

        .imagetorotate {
            -webkit-transform: rotate(200deg);
            -webkit-backface-visibility: hidden;
        }

        body {
            font-family: DroidArabicKufi;
            direction: rtl;
            color: rgb(77,77,77);
        }

        .background {
            position: absolute;
            display: block;
            min-width: 100%;
            text-align: center;
            background-color: transparent;
            background: url(../../Assets/images/bgs/consolidated-report-ar-bg.jpg) no-repeat;
            background-size: contain;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .text-red {
            color: rgb(150,24,35);
        }

        .text-orange {
            color: rgb(247,147,30);
        }

        .text-yellow {
            color: rgb(254,218,27);
        }

        .text-light-green {
            color: rgb(78,176,44);
        }

        .text-dark-green {
            color: rgb(5,133,67);
        }

        .text-white {
            color: #fff;
        }

        .bg-red {
            background-color: rgb(150,24,35);
        }

        .bg-orange {
            background-color: rgb(247,147,30);
        }

        .bg-yellow {
            background-color: rgb(254,218,27);
        }

        .bg-light-green {
            background-color: rgb(78,176,44);
        }

        .bg-dark-green {
            background-color: rgb(5,133,67);
        }

        .bg-white {
            background-color: #fff;
        }

        .font-size-12 {
            font-size: 12px;
        }

        .font-size-13 {
            font-size: 13px;
        }

        .font-size-14 {
            font-size: 14px;
        }

        .font-size-15 {
            font-size: 15px;
        }

        .font-size-16 {
            font-size: 16px;
        }

        .font-size-17 {
            font-size: 17px;
        }

        .font-size-22 {
            font-size: 22px;
        }

        .font-size-30 {
            font-size: 30px;
        }

        .font-weight-bold {
            font-weight: bold;
        }

        .sq-container .sq {
            width: 38px;
            height: 38px;
            float: right;
            margin-left: 5px;
        }

        .text-center {
            text-align: center;
        }

        .divider {
            width: 100%;
            height: 1px;
            background-color: #fff;
            overflow: hidden;
            margin-right: -15px;
        }

        .list-item {
            color: #666;
        }

        section .divider:last-child {
            display: none;
        }
    </style>
</head>
<body style="margin-left: 100px; margin-right: 100px; padding-top: 260px;">

    <article class="cover-page" style="margin-top: -50px !important; color: #000;">
        <div class="background"></div>
        <div style="margin-top: 100px;">
            <h1 class="font-weight-bold font-size-30" style="font-style: italic; margin-bottom: 50px;">تقرير مُجمّع مختصر</h1>
            <div class="media" style="clear: both; overflow: hidden;">
                <img src="@ImageSrc" alt="GLP REPORTS" style="width: 178px; height: 245px; float: right;" />
                <div class="media-caption" style="float: right; margin-right: 50px; margin-top: 20%;">
                    <p class="font-size-13 font-weight-bold" style="margin-bottom: 30px;">تاريخ تقديم الإختبار: @Model.LastAssessmentDate</p>
                    <p class="font-size-13 font-weight-bold" style="margin-bottom: 30px;">تم طباعة التقرير: @DateTime.Now.ToShortDateString()</p>
                </div>
            </div>
        </div>
        <div style="margin-top: 30px;">
            <h1 class="font-weight-bold" style="font-size: 46px; ">@Model.Profile.Name </h1>
            <p class="font-weight-bold font-size-14" style="width: 50%; word-spacing: 5px; line-height: 1.5;">@Model.Profile.About</p>
        </div>
    </article>

    <div class="breakhere"></div>

    <article class="page-1" style="padding-top: 50px; padding-bottom: 50px;">
        <h2 class="text-dark-green font-weight-bold font-size-17">المقدمة</h2>
        <div style="margin-bottom: 50px;">
            <p class="font-size-13" style="margin-bottom: 50px; word-spacing: 5px; line-height: 2;">
                يهدف هذا التقرير إلى تقديم ملخص بالدرجات التفصيلية للمرشحين في برنامج قيادات حكومة الإمارات في مختلف أدوات التقييم الرقمي إلى الإدارة. يستعرض التقرير الدرجات الإجمالية وملخص نتائج المرشحين مقارنة بالمتقدمين لبرنامج قيادات حكومة الإمارات والوظائف المتاحة.
                <br />
                هذا التقرير موجه تحديدًا للخبراء الحاصلين على التدريب اللازم لفهم وتفسير ما تشير إليه درجات التقييمات المختلفة، كما أنه معدّ للاستخدام في سياق التطوير والتدريب. لا يُنصح بإرسال هذا التقرير إلى الأفراد، وينبغي تنظيم لقاء لتقديم كافة الملاحظات والمصادقة على النتائج اختبار القياس النفسي عند مناقشة نتائج هذا التقرير.
            </p>
            <p class="font-size-13">يشمل التقرير الأقسام التالية:</p>
            <p class="font-size-13">القسم الأول: المتوسط الإجمالي لجميع التقييمات</p>
            <p class="font-size-13">القسم الثاني: النتائج الإجمالية لكل تقييم</p>
            <p class="font-size-13">القسم الثالث: الدرجات التفصيلية لكل تقييم</p>
        </div>
        <div style="margin-left: -50px; margin-right: -50px;">
            <section style="background-color: #f2f2f2; padding: 15px; border-radius: 5px;">
                <h2 class="section-header font-size-16 font-weight-bold">القسم الأول: المتوسط الإجمالي لجميع التقييمات</h2>
                <p class="font-size-12" style="word-spacing: 3px;">متوسط درجات المرشّح عن جميع الاختبارات التي اجتازها، معروضاً في صورة نسبة مئوية. يمثّل هذا المتوسط النتيجة المجمّعة لكل تقييم على مقياس 1-10، بحيث يتم حساب المتوسط الإجمالي لجميع التقييمات وعرضه على مقياس من 1-100.</p>
                <div class="sq-container" style="overflow: hidden;">
                    @{
                        int dividedScore = int.Parse(Math.Round(Model.OverAllScore / 5).ToString());
                    }
                    @for (int i = 1; i < 21; i++)
                    {
                        if (i < dividedScore)
                        {
                            <span class="sq bg-dark-green"></span>
                        }
                        else if (i == dividedScore)
                        {
                            <span class="sq bg-dark-green text-white text-center font-size-12" style="padding: 8px 0;height: 22px;">@Math.Round(@Model.OverAllScore)%</span>

                        }
                        else if (i > dividedScore)
                        {
                            <span class="sq bg-white"></span>
                        }
                    }
                </div>
            </section>

            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden;">
                <h2 class="section-header font-size-16 font-weight-bold">القسم الثاني: النتائج الإجمالية لكل تقييم </h2>
                <p class="font-size-12" style="word-spacing: 3px;">
                    يوضح الرسم البياني أدناه الدرجات الإجمالية لكل تقييم على حدة على مقياس من 1 إلى 10 (STEN) مقارنة بدرجات مواطني دولة الإمارات الخاضعين لنفس التقييم.
                </p>
                <div class="list" style="margin-top: 30px;">
                    <div class="list-header" style="overflow: hidden;">
                        <div class="sq-container" style="float: left;">
                            <span class="sq text-center font-weight-bold">1</span>
                            <span class="sq text-center font-weight-bold">2</span>
                            <span class="sq text-center font-weight-bold">3</span>
                            <span class="sq text-center font-weight-bold">4</span>
                            <span class="sq text-center font-weight-bold">5</span>
                            <span class="sq text-center font-weight-bold">6</span>
                            <span class="sq text-center font-weight-bold">7</span>
                            <span class="sq text-center font-weight-bold">8</span>
                            <span class="sq text-center font-weight-bold">9</span>
                            <span class="sq text-center font-weight-bold">10</span>
                        </div>
                    </div>
                    <div class="list-item" style="overflow: hidden;">
                        <h3 class="font-weight-bold font-size-12" style="float: right;">اللغة الانجليزية</h3>
                        <div class="sq-container" style="float: left;">
                            @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.AssessmentCategoryScores.FirstOrDefault(e => e.AssessmenttoolCategoryID == (int)AssessmentToolCategory.EnglishLanguage).Score)

                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                        <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات القيادية</h3>
                        <div class="sq-container" style="float: left;">
                            @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.AssessmentCategoryScores.FirstOrDefault(e => e.AssessmenttoolCategoryID == (int)AssessmentToolCategory.Leadership).Score)

                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                        <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات المعرفية</h3>
                        <div class="sq-container" style="float: left;">
                            @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.AssessmentCategoryScores.FirstOrDefault(e => e.AssessmenttoolCategoryID == (int)AssessmentToolCategory.Cognitive).Score)

                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                        <h3 class="font-weight-bold font-size-12" style="float: right;">جودة الحياة</h3>
                        <div class="sq-container" style="float: left;">
                            @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.AssessmentCategoryScores.FirstOrDefault(e => e.AssessmenttoolCategoryID == (int)AssessmentToolCategory.Wellbeing).Score)

                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                        <h3 class="font-weight-bold font-size-12" style="float: right;">الذكاء العاطفي</h3>
                        <div class="sq-container" style="float: left;">
                            @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.AssessmentCategoryScores.FirstOrDefault(e => e.AssessmenttoolCategoryID == (int)AssessmentToolCategory.EQ).Score)

                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                        <h3 class="font-weight-bold font-size-12" style="float: right;">السمات الشخصية (السلوك المناسب لنموذج قيادات حكومة الإمارات)</h3>
                        <div class="sq-container" style="float: left;">
                            @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.AssessmentCategoryScores.FirstOrDefault(e => e.AssessmenttoolCategoryID == (int)AssessmentToolCategory.Personality).Score)

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>

    <div class="breakhere"></div>

    <article class="page-2" style="padding-top: 50px; padding-bottom: 50px;">

        <div style="margin-left: -50px; margin-right: -50px;">
            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden; border-radius: 5px;">
                <h2 class="section-header font-size-16 font-weight-bold">القسم الثالث: الدرجات التفصيلية لكل تقييم </h2>
            </section>
            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden; border-radius: 5px;">
                <div class="list" style="margin-top: 30px;">
                    <div class="list-header" style="overflow: hidden; background-color:#58595B; color: #fff; margin-left: -15px;margin-right: -15px;padding: 10px 15px;margin-bottom: 15px;margin-top: -45px; border-radius: 5px;">
                        <h3 class="font-weight-bold font-size-15" style="float: right;">درجات تقييم نموذج قيادات حكومة الإمارات</h3>
                        <div class="sq-container" style="float: left; margin-top: 6px;">
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">1</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">2</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">3</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">4</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">5</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">6</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">7</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">8</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">9</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">10</span>
                        </div>
                    </div>
                    @foreach (var comp in Model.CompetenciesReport)
                    {
                        <div class="list-item" style="overflow: hidden;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">@comp.CompetencyName</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", comp.Score)
                            </div>
                        </div>
                        <div class="divider"></div>
                    }
                </div>
            </section>
            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden; border-radius: 5px;">
                <div class="list" style="margin-top: 30px;">
                    <div class="list-header" style="overflow: hidden; background-color:#58595B; color: #fff; margin-left: -15px;margin-right: -15px;padding: 10px 15px;margin-bottom: 15px;margin-top: -45px; border-radius: 5px;">
                        <h3 class="font-weight-bold font-size-15" style="float: right;">تقييم المهارات القيادية</h3>
                        <div class="sq-container" style="float: left; margin-top: 6px;">
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">1</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">2</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">3</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">4</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">5</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">6</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">7</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">8</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">9</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">10</span>
                        </div>
                    </div>
                    @foreach (var pillar in Model.LeadershipPillarsScores)
                    {
                        <div class="list-item" style="overflow: hidden;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">@pillar.Name</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", pillar.Score)
                            </div>
                        </div>
                        <div class="divider"></div>
                    }
                </div>
            </section>
        </div>
    </article>

    <div class="breakhere"></div>

    <article class="page-3" style="padding-top: 50px; padding-bottom: 50px;">

        <div style="margin-left: -50px; margin-right: -50px;">
            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden; border-radius: 5px;">
                <div class="list" style="margin-top: 30px;">
                    <div class="list-header" style="overflow: hidden; background-color:#58595B; color: #fff; margin-left: -15px;margin-right: -15px;padding: 10px 15px;margin-bottom: 15px;margin-top: -45px; border-radius: 5px;">
                        <h3 class="font-weight-bold font-size-15" style="float: right;">جودة الحياة</h3>
                        <div class="sq-container" style="float: left; margin-top: 6px;">
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">1</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">2</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">3</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">4</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">5</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">6</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">7</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">8</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">9</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">10</span>
                        </div>
                    </div>
                    @foreach (var scale in Model.WellBeingScalesScores)
                    {
                        <div class="list-item" style="overflow: hidden;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">@scale.Name</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", scale.Score)
                            </div>
                        </div>
                        <div class="divider"></div>
                    }
                </div>
            </section>
            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden; border-radius: 5px;">
                <div class="list" style="margin-top: 30px;">
                    <div class="list-header" style="overflow: hidden; background-color:#58595B; color: #fff; margin-left: -15px;margin-right: -15px;padding: 10px 15px;margin-bottom: 15px;margin-top: -45px; border-radius: 5px;">
                        <h3 class="font-weight-bold font-size-15" style="float: right;">الذكاء العاطفي</h3>
                        <div class="sq-container" style="float: left; margin-top: 6px;">
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">1</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">2</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">3</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">4</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">5</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">6</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">7</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">8</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">9</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">10</span>
                        </div>
                    </div>
                    @foreach (var scale in Model.EQScalesScore)
                    {
                        <div class="list-item" style="overflow: hidden;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">@scale.Name</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", scale.Score)
                            </div>
                        </div>
                        <div class="divider"></div>
                    }
                </div>
            </section>
        </div>
    </article>

    <div class="breakhere"></div>

    <article class="page-4" style="padding-top: 50px; padding-bottom: 50px;">

        <div style="margin-left: -50px; margin-right: -50px;">
            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden; border-radius: 5px;">
                <div class="list" style="margin-top: 30px;">
                    <div class="list-header" style="overflow: hidden; background-color:#58595B; color: #fff; margin-left: -15px;margin-right: -15px;padding: 10px 15px;margin-bottom: 15px;margin-top: -45px; border-radius: 5px;">
                        <h3 class="font-weight-bold font-size-15" style="float: right;">الاهتمامات المهنية</h3>
                        <div class="sq-container" style="float: left; margin-top: 6px;">
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">1</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">2</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">3</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">4</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">5</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">6</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">7</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">8</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">9</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">10</span>
                        </div>
                    </div>
                    @foreach (var scale in Model.CareerInterestScalesScore)
                    {
                        <div class="list-item" style="overflow: hidden;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">@scale.Name</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", scale.Score)
                            </div>
                        </div>
                        <div class="divider"></div>
                    }
                </div>
            </section>
            <section style="background-color: #f2f2f2; padding: 15px; margin-top: 15px; overflow: hidden; border-radius: 5px;">
                <div class="list" style="margin-top: 30px;">
                    <div class="list-header" style="overflow: hidden; background-color:#58595B; color: #fff; margin-left: -15px;margin-right: -15px;padding: 10px 15px;margin-bottom: 15px;margin-top: -45px; border-radius: 5px;">
                        <h3 class="font-weight-bold font-size-15" style="float: right;">الكفاءات - القدرات الفردية</h3>
                        <div class="sq-container" style="float: left; margin-top: 6px;">
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">1</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">2</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">3</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">4</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">5</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">6</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">7</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">8</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">9</span>
                            <span class="sq text-center text-white font-weight-bold" style="padding: 8px 0;height: 22px;">10</span>
                        </div>
                    </div>
                    <div class="list-item" style="overflow: hidden;">
                        <h3 class="font-weight-bold font-size-12" style="float: right;">اللغة الانجليزية</h3>
                        <div class="sq-container" style="float: left;">
                            @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.AssessmentCategoryScores.FirstOrDefault(e => e.AssessmenttoolCategoryID == (int)AssessmentToolCategory.EnglishLanguage).Score)

                        </div>
                    </div>
                    @if (Model.CognitiveSubBlocksScores.Count > 0)
                    {
                        <div class="divider"></div>
                        <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات المنطقية</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.CognitiveSubBlocksScores.FirstOrDefault(e => e.TypeID == (int)CognitiveSubBlocks.Abstract).Score)

                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات العددية</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.CognitiveSubBlocksScores.FirstOrDefault(e => e.TypeID == (int)CognitiveSubBlocks.Numerical).Score)

                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات اللغوية</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", Model.CognitiveSubBlocksScores.FirstOrDefault(e => e.TypeID == (int)CognitiveSubBlocks.Verbal).Score)

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="divider"></div>
                        <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات المنطقية</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", decimal.Parse("0"))

                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات العددية</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", decimal.Parse("0"))

                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="list-item" style="overflow: hidden; margin-top: 10px;">
                            <h3 class="font-weight-bold font-size-12" style="float: right;">القدرات اللغوية</h3>
                            <div class="sq-container" style="float: left;">
                                @Html.Partial("~/Views/Common_PVs/Assessment/AssessmentReports/_listingScoresEN.cshtml", decimal.Parse("0"))

                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </article>

    <div class="breakhere"></div>

    <article class="page-5" style="padding-top: 50px; padding-bottom: 50px; margin-left: -50px; margin-right: -50px;">
        <h2 class="font-weight-bold font-size-17" style="color: #666;">نموذج الإمارات للقيادة الحكومية </h2>
        <div style="margin-bottom: 50px;">
            <img src="~/Assets/images/bgs/consolidated-chart-ar.png" style="width: 100%;" alt="GLP REPORTS" />
        </div>
        <h2 class="font-weight-bold font-size-17" style="color: #666;">التقرير السلوكي</h2>

        @foreach (var comp in Model.CompetenciesReport.Take(3))
        {
            <div class="pragraph">
                <h4 class="text-dark-green font-size-13 font-weight-bold" style="margin-bottom: 0;">@comp.CompetencyName.Arabic </h4>
                <p class="font-size-12" style="line-height: 1.4; word-spacing: 5px; margin-top: 5px;">
                    @comp.CompetencyResultNarrativeDescription.Arabic
                </p>
            </div>

        }

    </article>

    <div class="breakhere"></div>

    <article class="page-6" style="padding-top: 50px; padding-bottom: 50px; margin-left: -50px; margin-right: -50px;">
        @foreach (var comp in Model.CompetenciesReport.Skip(3))
        {
            <div class="pragraph">
                <h4 class="text-dark-green font-size-13 font-weight-bold" style="margin-bottom: 0;">@comp.CompetencyName.Arabic </h4>
                <p class="font-size-12" style="line-height: 1.4; word-spacing: 5px; margin-top: 5px;">
                    @comp.CompetencyResultNarrativeDescription.Arabic
                </p>
            </div>

        }
    </article>

    <div class="breakhere"></div>

    <article class="page-7" style="padding-top: 50px; padding-bottom: 50px; margin-left: -50px; margin-right: -50px;">
        <div class="pragraph">
            <h4 class="text-dark-green font-size-13 font-weight-bold" style="margin-bottom: 0;">جودة الحياة</h4>
            <p class="font-size-12" style="line-height: 1.4; word-spacing: 5px; margin-top: 5px;">
                @Model.WellBeingNarrative
            </p>
        </div>
        <div class="pragraph">
            <h4 class="text-dark-green font-size-13 font-weight-bold" style="margin-bottom: 0;">الذكاء العاطفي</h4>
            <p class="font-size-12" style="line-height: 1.4; word-spacing: 5px; margin-top: 5px;">
                @Model.EQNarrative
            </p>
        </div>
        @if (!string.IsNullOrEmpty(Model.CognitiveNarrative))
        {
            <div class="pragraph">
                <h4 class="text-dark-green font-size-13 font-weight-bold" style="margin-bottom: 0;">القدرات المعرفية - الدرجة الكلية</h4>
                <p class="font-size-12" style="line-height: 1.4; word-spacing: 5px; margin-top: 5px;">
                    @Model.CognitiveNarrative
                </p>
            </div>
        }
        <div class="pragraph">
            <h4 class="text-dark-green font-size-13 font-weight-bold" style="margin-bottom: 0;">اللغة الإنجليزية</h4>
            <p class="font-size-12" style="line-height: 1.4; word-spacing: 5px; margin-top: 5px;">
                @Model.EnglishNarrative
            </p>
        </div>
        <div class="pragraph">
            <h4 class="text-dark-green font-size-13 font-weight-bold" style="margin-bottom: 0;">مؤشر تقييم المهارات القيادية </h4>
            <p class="font-size-12" style="line-height: 1.4; word-spacing: 5px; margin-top: 5px;">
                @Model.LeadershipNarrative
            </p>
        </div>
    </article>

</body>
</html>
