@model Uaeglp.ViewModels.AssessmentViewModels.AssessmentIndividualToolReportView
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <style>

        .breakhere {
            page-break-after: always;
            background-color: blueviolet;
        }

        tr {
            page-break-inside: avoid;
            direction: ltr;
        }

        .imagetorotate {
            -webkit-transform: rotate(200deg);
            -webkit-backface-visibility: hidden;
        }

        body {
            font-family: Tahoma;
            /*background: url('~/Assets/images/bgs/well-geing-report-en.jpg');*/
            direction: ltr;
        }

        .background {
            position: absolute;
            display: block;
            min-width: 100%;
            text-align: center;
            background-color: transparent;
            /*padding-top: 50%;*/
            background: url(../../Assets/images/bgs/Know-yourself-Management-1.jpg) no-repeat;
            background-size: contain;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .cover-page {
        }

        .font-size-32 {
            font-size: 32px;
        }

        .font-size-24 {
            font-size: 24px;
        }

        .font-size-20 {
            font-size: 20px;
        }

        .font-size-12 {
            font-size: 12px;
        }

        .m-100 {
            margin: 60px;
        }

        p {
            line-height: 1.5;
            font-size: 16px;
            margin-bottom: 15px;
            color: #6e6e6e;
        }

        .square .sq {
            width: 28px;
            height: 28px;
            margin-right: 4px;
            float: left;
        }

        .sq-green-600 {
            background-color: #66cbc4;
        }

        .green-900 {
            background: #00a99d;
        }

        .sq-green-100 {
            background: #e0f5f3;
        }

        .sq-grey-300 {
            background-color: #e6e6e6;
        }

        .red-100 {
            background: #ffcbc4;
        }

        .text-grey-400 {
            color: #6a6a6a;
        }

        table {
            font-family: sans-serif;
            /*text-align: left;*/
        }

        .text-left {
            text-align: left;
        }

        .table-key td {
            height: 75px;
            padding: 8px;
            border: 5px solid #fff;
        }

        table th {
            padding: 8px;
            border: 3px solid #fff;
        }

        table th {
            color: #fff;
        }

        .w-100 {
            width: 100px;
        }

        .w-160 {
            width: 160px;
        }

        .text-center {
            text-align: center;
        }

        .display-block {
            display: block;
            margin: 0 auto;
        }

        .v-align-top {
            vertical-align: top;
        }

        .font-weight-bold {
            font-weight: bold;
        }

        .font-weight-600 {
            font-weight: 600;
        }

        .w-p60 {
            width: 60%;
        }

        .w-p40 {
            width: 40%;
        }

        .h-27 {
            height: 27px;
        }

        .mh-27 {
            min-height: 27px;
        }

        .page-2 .sq {
            color: #fff;
            width: 23px;
        }

        .text-white {
            color: #fff;
        }

        .title {
            margin-bottom: 50px;
            font-size: 32px;
            font-weight: bold;
            color: #666;
        }

        .subtitle {
            font-weight: bold;
            color: #666;
            margin-top: 50px;
        }

        .note {
            padding: 15px;
            border: 2px solid #66cbc4;
            color: #66cbc4;
            height: 85px;
        }

        .page-5 .table-borderless td {
            border: 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 37px;
            padding: 0 15px;
            border-bottom: 5px solid #fff;
        }

        .page-5 .table-borderless tr:last-child td {
            border-bottom: 0;
        }

        .table-cell-p50 {
            margin-top: 2px;
        }

            .table-cell-p50 td {
                padding: 5px 15px;
                width: 50%;
                border: 3px solid #fff;
                height: 50px;
                line-height: 1.2;
            }

            .table-cell-p50 tr td:first-child {
                border-left: 0;
            }

            .table-cell-p50 tr td:last-child {
                border-right: 0;
            }

        .text-green {
            color: #03a7a0;
        }

        .text-title {
            margin-bottom: 30px;
        }

        .leadership-score-table tr:first-child td {
            border-left: 2px solid #6e6e6e;
            color: #6e6e6e;
        }

        .leadership-score-table tr:last-child td {
            padding: 0;
        }

        .leadership-score-table td .sq,
        .leadership-sprint .sq {
            width: 50px;
            height: 50px;
            margin-right: 2px;
            margin-left: 2px;
        }

            .leadership-score-table td .sq:last-child {
                margin-right: 0;
            }

        .very-low .sq {
            background-color: #c1eae6;
        }

        .low .sq {
            background-color: #a3e0db;
        }

        .average .sq {
            background-color: #66c9c4;
        }

        .high .sq {
            background-color: #4c9792;
        }

        .very-high .sq {
            background-color: #336661;
        }

        .leadership-sprint {
            background-color: #eef0ef;
            /*height: 90px;*/
        }

        .white-sq {
            background-color: #fff !important;
        }

        .grey-sq {
            background-color: #e6e6e6 !important;
        }
        /*.leadership-sprint .display-block{
            display: inline-block;
            overflow: hidden;
        }*/
        .leadership-sprint .sq {
            float: right;
        }


        .career-report-table .sq {
            width: 32px;
            height: 32px;
        }

        table.career-report-table p {
            margin: 0;
            font-size: 12px;
            font-weight: 600;
        }

        .career-planning {
            height: 200px;
            padding: 10px 15px;
            margin-bottom: 15px;
            color: #00b39c;
            border: 1px solid #00b39c;
        }

        .well-being-table td {
            vertical-align: top;
        }

        /*.overall-well-being .sq {
            width: 78px;
            margin-left: 4px;
            margin-right: 4px;
        }*/
        .overall-eq-score .sq {
            width: 39px;
            height: 39px;
        }

        .know-triangle {
            /*background: linear-gradient(to bottom right, #fff 50%, #fff 50%, #4d4d4d 50%, #4d4d4d 100%);*/
            background: url(../../Assets/images/know-yourself-bg.png) no-repeat 60% center;
            background-size: contain;
        }

        .rotate-90 {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
        }
    </style>
</head>
<body style="margin-left: 100px; margin-right: 100px; padding-top: 260px;">

    <article class="cover-page">
        <div class="background"></div>
        <div style="">
            <h2 class="font-size-32" style=" margin: 15px 0px 0px; ">
                Know Yourself
            </h2>
            <h2 class="" style="font-size: 32px; margin: 0 0 15px;">
                Individual Report
            </h2>

        </div>
        <div style="margin-top: 80px;">
            <h2 style="margin: 15px 0; font-weight: 400;">Name : @Model.ProfileName.English </h2>
            <h2 style="margin: 15px 0; font-weight: 400;">Assesment taken on : @Model.CompletedOn </h2>
            <h2 style="margin: 15px 0; font-weight: 400;">Report printed on : @DateTime.Now.ToShortDateString() </h2>

        </div>
    </article>

    <div class="breakhere"></div>

    <article class="page-1" style="padding-top: 100px; padding-bottom: 100px;">
        <h2 class="text-green text-title">Introduction</h2>
        <p>
            Thank you for completing the 'Know Yourself' personality questionnaire. This report is intended
            to provide you with feedback on your preferences, motives and talents in a work context.
        </p>

        <p>
            The report presents feedback on 12 personality dimensions aligned to the core factors of
            personality.
        </p>

        <table class="well-being-table" style="width: 100%; table-layout: fixed; margin-bottom: 100px;">

            <tr>
                <td colspan="7">
                    <table class="" style="width: 100%; table-layout: fixed; border-collapse: collapse;">

                        <tr>
                            <td class="text-center" colspan="4" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                <h4 class="font-weight-600" style="color: #fff; margin: 0;">
                                    H <br /> Honesty - Humility

                                </h4>
                            </td>
                            <td colspan="8" style="background-color: #eef0ef; padding: 10px 15px;">
                                <p style="font-size: 14px; margin: 0;">
                                    The degree in which you are honest,
                                    modest and sincer
                                </p>
                            </td>
                        </tr>

                        <tr style="height: 10px;"></tr>

                        <tr>
                            <td class="text-center" colspan="4" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                <h4 class="font-weight-600" style="color: #fff; margin: 0;">
                                    E <br />Emotional Control
                                </h4>
                            </td>
                            <td colspan="8" style="background-color: #eef0ef; padding: 10px 15px;">
                                <p style="font-size: 14px; margin: 0;">
                                    The degree in which you regulate
                                    your emotions
                                </p>
                            </td>
                        </tr>

                        <tr style="height: 10px;"></tr>

                        <tr>
                            <td class="text-center" colspan="4" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                <h4 class="font-weight-600" style="color: #fff; margin: 0;">eX <br />Extraversion </h4>
                            </td>
                            <td colspan="8" style="background-color: #eef0ef; padding: 10px 15px;">
                                <p style="font-size: 14px; margin: 0;">
                                    The degree in which you are driven,
                                    confident and sociable
                                </p>
                            </td>
                        </tr>

                        <tr style="height: 10px;"></tr>

                        <tr>
                            <td class="text-center" colspan="4" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                <h4 class="font-weight-600" style="color: #fff; margin: 0;">
                                    K <br />Kindness
                                </h4>
                            </td>
                            <td colspan="8" style="background-color: #eef0ef; padding: 10px 15px;">
                                <p style="font-size: 14px; margin: 0;">
                                    The degree in which you are
                                    accommodating to the needs of others
                                </p>
                            </td>
                        </tr>

                        <tr style="height: 10px;"></tr>

                        <tr>
                            <td class="text-center" colspan="4" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                <h4 class="font-weight-600" style="color: #fff; margin: 0;">M <br />Meticulous </h4>
                            </td>
                            <td colspan="8" style="background-color: #eef0ef; padding: 10px 15px;">
                                <p style="font-size: 14px; margin: 0;">
                                    The degree in which you conform to
                                    rules and plan tasks
                                </p>
                            </td>
                        </tr>

                        <tr style="height: 10px;"></tr>

                        <tr>
                            <td class="text-center" colspan="4" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                <h4 class="font-weight-600" style="color: #fff; margin: 0;">O <br />Open </h4>
                            </td>
                            <td colspan="8" style="background-color: #eef0ef; padding: 10px 15px;">
                                <p style="font-size: 14px; margin: 0;">
                                    The degree in which you are open to
                                    new experiences
                                </p>
                            </td>
                        </tr>

                    </table>
                </td>

                <td colspan="5" style="vertical-align: middle;">

                    <div class="know-triangle">

                        <table class="" style="width: 100%; table-layout: fixed;" cellspacing="30">

                            <tr>
                                <td colspan="6"></td>
                                <td class="text-center" colspan="6" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                    <p class="font-weight-600" style="color: #fff; margin: 0; text-align: left; line-height: 1.2; font-size: 14px;"> 6 Factors</p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="6"></td>
                                <td class="text-center" colspan="6" style="background-color: #66c9c4; padding: 10px 15px; vertical-align: middle;">
                                    <p class="font-weight-600" style="color: #fff; margin: 0; text-align: left; line-height: 1.2; font-size: 14px;">
                                        12 Scales
                                    </p>
                                </td>
                            </tr>

                        </table>
                    </div>
                </td>
            </tr>

        </table>

        <p>
            Your results have been compared to a group of UAE Nationals who have completed this
            questionnaire before. Your scores on the dimensions are therefore relative to where other
            people see themselves and are presented on a 1-10 scale, where 1 is an extremely low
            preference for a given trait and 10 is an extremely high preference. Please note, since this is
            not a test there are no right or wrong answers, but rather strength of preference depicted on
            a scale.
        </p>

        <p>
            Narrative is presented to help with the interpretation of your scores. Since it is a self-report
            measure, the results reflect your self perception which has been shown to be an accurate
            predictor of your likely behaviour at work. Since it is auto-generated, it is important to
            validate the results through further exploration and self-reflection. It is likely to remain valid
            for around 12-18 months.
        </p>

        <p>
            This report can be used to aid self-reflection and insight into your preferred ways of operating.
            It can also be used to create a development plan for your current and future career aspirations.
        </p>

        <p style="margin-top: 50px;">
            The report covers the following sections:<br />
            Section 1: Model Profile Chart<br />
            Section 2: Behavioural Profile<br />
            Section 3: Development Reflections<br />
        </p>

    </article>

    @*<div class="breakhere"></div>*@

    <article class="page-2" style="padding-top: 50px; padding-bottom: 50px; margin-left: -50px; margin-right: -50px;">
        <h2 class="font-weight-600" style="color: #626262; margin-top: 0;">
            MODEL PROFILE CHART
        </h2>
        <p style="margin-top: 0;">
            The profile chart below shows for each personality scale, behavioural descriptions describing a very strong preference for both the right and left hand sides. There are no right or wrong answers but you can see from the coloured blocks how strong the preference is for a particular side. For example, if there are 5 blocks on either the left or right hand side, this indicates there is likely to be a very strong preference for this side of the scale. In contrast, where there is 1 box, this indicates a slight preference to this side of the scale and is more of an average score, as it is in the middle.
        </p>

        <table class="career-report-table" style="width: 100%; table-layout: fixed; border-collapse: collapse; margin-top: 30px;">
            @foreach (var scale in Model.profileScaleScoreReportsView)
            {
                <tr class="">
                    <td class="" colspan="4" style="background-color: #66c9c4; padding: 10px;">
                        <p style="color: #fff;">
                            @scale.ScaleLowDescription.Current
                        </p>
                    </td>
                    <td class="text-center" colspan="6" style="padding: 0px; vertical-align: middle;">
                        <p class="font-weight-600" style="margin-bottom: 15px; font-size: 16px;">@scale.ScaleName.Current</p>
                        <div class="square display-block average" style="border-right: 5px solid #66c9c4; display: inline-block; overflow: hidden;">
                            @if (scale.Score == 1)
                            {
                                <div class="sq 1"></div>
                                <div class="sq 2"></div>
                                <div class="sq 3"></div>
                                <div class="sq 4"></div>
                                <div class="sq 5"></div>
                            }
                            else if (scale.Score == 2)
                            {
                                <div class="sq 1 grey-sq"></div>
                                <div class="sq 2"></div>
                                <div class="sq 3"></div>
                                <div class="sq 4"></div>
                                <div class="sq 5"></div>
                            }
                            else if (scale.Score == 3)
                            {
                                <div class="sq 1 grey-sq"></div>
                                <div class="sq 2 grey-sq"></div>
                                <div class="sq 3"></div>
                                <div class="sq 4"></div>
                                <div class="sq 5"></div>
                            }
                            else if (scale.Score == 4)
                            {
                                <div class="sq 1 grey-sq"></div>
                                <div class="sq 2 grey-sq"></div>
                                <div class="sq 3 grey-sq"></div>
                                <div class="sq 4"></div>
                                <div class="sq 5"></div>
                            }
                            else if (scale.Score == 5)
                            {
                                <div class="sq 1 grey-sq"></div>
                                <div class="sq 2 grey-sq"></div>
                                <div class="sq 3 grey-sq"></div>
                                <div class="sq 4 grey-sq"></div>
                                <div class="sq 5"></div>
                            }
                            else
                            {
                                <div class="sq 1 grey-sq"></div>
                                <div class="sq 2 grey-sq"></div>
                                <div class="sq 3 grey-sq"></div>
                                <div class="sq 4 grey-sq"></div>
                                <div class="sq 5 grey-sq"></div>
                            }

                        </div>
                        <div class="square display-block average" style=" display: inline-block; overflow: hidden;">
                            @if (scale.Score == 6)
                            {
                                <div class="sq 6"></div>
                                <div class="sq grey-sq 7"></div>
                                <div class="sq grey-sq 8"></div>
                                <div class="sq grey-sq 9 "></div>
                                <div class="sq grey-sq 10"></div>
                            }
                            else if (scale.Score == 7)
                            {

                                <div class="sq 6"></div>
                                <div class="sq 7"></div>
                                <div class="sq grey-sq 8"></div>
                                <div class="sq grey-sq 9 "></div>
                                <div class="sq grey-sq 10"></div>
                            }
                            else if (scale.Score == 8)
                            {

                                <div class="sq 6"></div>
                                <div class="sq 7"></div>
                                <div class="sq 8"></div>
                                <div class="sq grey-sq 9 "></div>
                                <div class="sq grey-sq 10"></div>
                            }
                            else if (scale.Score == 9)
                            {
                                <div class="sq 6"></div>
                                <div class="sq 7"></div>
                                <div class="sq 8"></div>
                                <div class="sq 9"></div>
                                <div class="sq 10 grey-sq"></div>
                            }
                            else if (scale.Score == 10)
                            {

                                <div class="sq 6"></div>
                                <div class="sq 7"></div>
                                <div class="sq 8"></div>
                                <div class="sq 9 "></div>
                                <div class="sq 10"></div>
                            }
                            else
                            {
                                <div class="sq 1 grey-sq"></div>
                                <div class="sq 2 grey-sq"></div>
                                <div class="sq 3 grey-sq"></div>
                                <div class="sq 4 grey-sq"></div>
                                <div class="sq 5 grey-sq"></div>
                            }


                        </div>
                    </td>
                    <td colspan="4" style="background-color: #66c9c4; padding: 10px;">
                        <p style="color: #fff;">
                            @scale.ScaleHighDescription.Current
                        </p>
                    </td>
                </tr>

                <tr style="height: 15px;"></tr>

            }

        </table>

    </article>

    @*<div class="breakhere"></div>*@

    <article class="page-3" style="padding-top: 100px; padding-bottom: 100px;">

        <h1 class="title" style="margin-top: 0; margin-bottom: 30px;">
            BEHAVIOURAL PROFILE
        </h1>
        @foreach (var narrative in Model.profileScaleNarrativeDescriptionsView)
        {
		<div class="be-profile">
			<h4 class="sq-green-600 text-white" style="padding: 10px; margin: 0;">@narrative.ScaleName.Current</h4>
			<p style="padding: 0 10px; margin-top: 5px;">
				@narrative.Description.Current
			</p>
		</div>
        }
    </article>
    <div class="breakhere"></div>

    <article class="page-4" style="padding-top: 100px; padding-bottom: 100px;">

        <h1 class="title" style="margin-top: 0; margin-bottom: 30px;">COMPETENCY MATRIX</h1>
        <p>
            The matrix below shows how your personality preferences may relate to the Government’s
            Leadership Model which will be useful when considering your future development or roles within
            the Government
        </p>

        <h4 style="margin-top: 100px;">Government Leadership Model</h4>

        <table class="well-being-table" style="width: 100%; table-layout: fixed;" cellspacing="10">

            <tr>
                <td colspan="4" style="background-color: #66c9c4; vertical-align: middle; padding: 10px 15px;">
                    <h4 class="font-weight-600" style="color: #fff; margin: 0;">
                        Achievements
                        and impact
                    </h4>
                </td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Agile and Fast </p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Empathy, Outgoing, Open
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="4"></td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Smart, Effective and
                        Efficient Decision Maker
                    </p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Analytical, Modesty
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="4"></td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Focuses on the
                        government’s ultimate
                        goals and achievements
                    </p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Methodical, Adaptable</p>
                </td>
            </tr>

            <tr>
                <td colspan="4" style="background-color: #66c9c4; vertical-align: middle; padding: 10px 15px;">
                    <h4 class="font-weight-600" style="color: #fff; margin: 0;">
                        Future Outlook
                    </h4>
                </td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">  Life-long Learner</p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Innovative, Methodical

                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="4"></td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Well-versed in Advanced
                        Technology
                    </p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;"> Analytical, Open</p>
                </td>
            </tr>

            <tr>
                <td colspan="4"></td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Innovative and Disruptive</p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;"> Open, Outgoing, Influencing</p>
                </td>
            </tr>

            <tr>
                <td colspan="4"></td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Futurist </p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Innovative, Adaptable</p>
                </td>
            </tr>

            <tr>
                <td colspan="4" style="background-color: #66c9c4; vertical-align: middle; padding: 10px 15px;">
                    <h4 class="font-weight-600" style="color: #fff; margin: 0;">Leadership Spirit</h4>
                </td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Enabler of People </p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Outgoing, Encouraging, Composure
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="4"></td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Role Model</p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Trustworth, Modesty, Influencing,
                        Composure
                    </p>
                </td>
            </tr>

            <tr>
                <td colspan="4"></td>
                <td colspan="4" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">
                        Open to the World
                    </p>
                </td>
                <td colspan="6" style="background-color: #e6e6e6; vertical-align: middle; padding: 10px 15px;">
                    <p style="color: #696969; margin: 0;">Open, Innovative, Empathy</p>
                </td>
            </tr>

        </table>

    </article>

    <div class="breakhere"></div>

    <article class="page-4" style="padding-top: 100px; padding-bottom: 100px;">

        <h1 class="title" style="margin-top: 0; margin-bottom: 30px;">
            DEVELOPMENT REFLECTIONS
        </h1>
        <p style="margin-bottom: 100px;">
            Everyone has aspects of their preferred ways of thinking, feeling and behaving that
            they can change or improve. From the reading of your profile, consider what your
            current strengths and development points may be and orientate these towards your
            current and future career aspirations. Reflect on the results of this assessment and
            what they mean for your workplace style - consider which areas you would most
            like to invest energy in changing or developing further. Answer the questions in the
            sections that follow to help you do this:
        </p>
        @foreach (var question in Model.ProfileAnswerQuestionGroups)
        {
            <h4 class="sq-green-600 text-white" style="padding: 10px 15px; margin: 0;">
                @question.Question.Current
            </h4>
            <div style="height: 100px; border: 1px solid #66cbc4; margin-top: 10px; margin-bottom: 20px;">
                @if (question.Answer != null)
                {
                    <p>@question.Answer.Current</p>
                }
            </div>


        }

    </article>

	@* Script *@
	<script src="~/Assets/global/vendor/jquery/jquery.min.js"></script>
	<script>
		$(function () {
			var $all = $('.be-profile').toArray();
			var $sum = 0;

			$('.be-profile').each(function (index, elem) {
				$sum += $(elem).height();
			})

			console.log("sum = ", $sum);

			if ($sum > 1700) {
				$('<div class="breakhere"></div><article class="new-page" style="padding-top: 100px; padding-bottom: 100px;"><div class="empty"></div></article>').insertAfter($('.be-profile').parent());

			}

			$('.be-profile').each(function (index, elem) {
				if ($sum > 1700) {
					$(elem).parent().children().last().insertAfter($('.empty'));
					//$(elem).parent().children().last().appenView($('.page-4'))
					$sum -= $(elem).parent().children().last().height();
				}
			})
		})
	</script>

</body>
</html>
